.login_heading {
    color:#ffffff;
    font-size: xx-large;
    text-align: center;
}

.login_container{
    display: flex;
    flex-direction: column;
    border: 1px solid #ffffff;
    border-radius: 20px;
    gap:20px;
    padding:3%;
    max-width: 50%;
    margin:50px auto;
    background-color: #152029;

}

.heading_login_box{
    color:#ffffff;
    font-size: x-large;
    text-align: center;
    margin-bottom: 20px;
}